<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="user_form">

    <!-- 이메일 -->
    <div class="rows">
        <input type="text" name="userId" th:field="*{userEmail}" th:placeholder="#{userEmail}">
        <div class="error" th:each="err : ${#fields.errors('userEmail')}" th:text="${err}"></div>
    </div>

    <!-- 닉네임 -->
    <div class="flex-container">
        <div class="input-group">
            <input type="text" name="text" th:field="*{userNickNm}" th:placeholder="#{userNickNm}">
            <span id="nickNmCheck" class="nickNmCheck">중복 확인</span>
        </div>
        <div class="error" th:each="err : ${#fields.errors('userNickNm')}" th:text="${err}"></div>
    </div>

    <!-- 비밀번호 -->
    <div class="rows">
    <input type="password" name="userPw" th:field="*{userPw}" th:placeholder="#{userPw}">
    <div class="error" th:each="err : ${#fields.errors('userPw')}" th:text="${err}"></div>
    </div>

    <!-- 비밀번호 확인 -->
    <div class="rows">
        <input type="password" name="userPwCk" th:field="*{userPwCk}" th:placeholder="#{userPwCk}">
        <div class="error" th:each="err : ${#fields.errors('userPwCk')}" th:text="${err}"></div>
    </div>


    <!-- 회원명 -->
    <div class="rows">
        <input type="text" name="userNm" th:field="*{userNm}" th:placeholder="#{userNm}">
        <div class="error" th:each="err : ${#fields.errors('userNm')}" th:text="${err}"></div>
    </div>

    <!-- 전화번호 -->
    <div class="rows">
        <input type="text" name="cellPhone" th:field="*{cellPhone}" th:placeholder="#{cellPhone}">
        <div class="error" th:each="err : ${#fields.errors('cellPhone')}" th:text="${err}"></div>
    </div>

    <!-- 생년월일 -->
    <div class="rows">
        <span class="tits">생년월일</span>
        <input type="date" name="birth" th:min="${minDate}" th:field="*{birth}" th:placeholder="#{birth}">
    </div>

</th:block>
</html>