<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{front/layouts/main}">

    <main layout:fragment="content" class="body-background">
        <!--
      <h1 th:text="${pageTitle}"></h1>
      <form method="post" name="frmSave" th:action="@{/user/join}" th:object="${userJoin}" autocomplete="off">
        <div class="." th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
        <th:block th:replace="~{front/user/_form::user_form}"></th:block>
            공통 양식 x : 회원가입시에만 존재함.
        <div class="terms">
            <input type="checkbox" name="termsAgree" value="true" th:field="*{termsAgree}" id="termsAgree">
            <label for="termsAgree" th:text="#{user.join.termsAgree}"></label>
            <div class="error" th:each="err : ${#fields.errors('termsAgree')}" th:text="${err}"></div>
        </div>
        <button type="submit" th:text="#{user.join.action}"></button>
      </form>
        -->

        <!-- Join Form -->
        <div id="signup-form" class="form-modal transition-element">
            <div class="form-image">
                <img src="https://i.ibb.co/C87SPzN/image.png" alt="Description of the image">
            </div>
            <div class="form-content">
            <form method="post" name="frmSave" th:action="@{/user/join}" th:object="${userJoin}" autocomplete="off">
                <h2 th:text="${pageTitle}"></h2>
                <div class="." th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

                <!-- 공통 양식 x : 회원가입시에만 존재함 -->
                <th:block th:replace="~{front/user/_form::user_form}"></th:block>

                <!-- 회원가입 동의 버튼 -->
                <div class="terms">
                    <div class="input-group">
                        <input type="checkbox" name="termsAgree" value="true" th:field="*{termsAgree}" id="termsAgree">
                        <label for="termsAgree" th:text="#{user.join.termsAgree}"></label>
                    </div>
                    <div class="error" th:each="err : ${#fields.errors('termsAgree')}" th:text="${err}"></div>
                </div>

                <button type="submit" th:text="#{user.join.action}"></button>
            </form>
            </div>
        </div>

    </main>
</html>
