<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- 어트리뷰트 pageTitle 속성에서 받아옴-->
    <title th:if="${pageTitle != null}" th:text="${pageTitle}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/front/order/css/style.css}">

</head>
<main layout:fragment="content" class="noFlex">
    <div class="header-image">
        <div class="overlay-text playfair-display">ORDER</div>
        <div class="subtext">꽃을 선물할 대상을 떠올리며 작성해보세요</div>
    </div>
    <section class="order-form">
        <form th:action="@{/order/submitOrder}" th:object="${orderForm}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="input-group">
                <label th:for="userNm">이름</label>
                <p th:text="*{userNm}"></p>
            </div>

            <div class="input-group">
                <label th:for="cellPhone">전화번호</label>
                <p th:text="*{cellPhone}"></p>
            </div>

            <div class="input-group">
                <label th:for="pickupDate">픽업날짜</label>
                <input type="date" id="pickupDate" th:field="*{pickupDate}"/>
            </div>

            <div class="input-group">
                <label th:for="pickupTime">픽업시간</label>
                <input type="time" id="pickupTime" th:field="*{pickupTime}"/>
            </div>

            <!--<div class="input-group">
                <label th:for="flowertype">꽃 종류</label>
                <select th:field="*{flowertype}">
                    <img th:src="@{${flower.flowerIamges}}">
                    <option value="">주문하실 꽃다발의 메인 꽃을 선택하세요</option>
                    <option th:each="flower : ${flowers}" th:value="${flower.flowerNm}" th:text="${flower.flowerNm}">Flower Name</option>
                </select>
            </div>-->

            <div class="input-group custom-flower-group">
                <label class="flower-label">꽃 종류</label>
                <div class="flower-selection">
                    <th:block th:each="flower, iterStat : ${flowers}">
                        <label class="flower-option" th:classappend="${iterStat.index % 5 == 4 ? 'last-in-row' : ''}">
                            <input type="radio" th:field="*{flowertype}" th:value="${flower.flowerNm}" th:id="${#strings.replace(flower.flowerNm, ' ', '')}">
                            <img th:src="@{${flower.flowerIamges}}" alt="Image of a flower" class="flower-image">
                            <span th:text="${flower.flowerNm}"></span>
                            <span class="flower-meaning" th:text="'꽃말 : ' + ${flower.flowerMean}"></span>
                        </label>
                    </th:block>
                </div>
            </div>

            <div class="input-group">
                <label th:for="flowercolor">꽃다발 색상</label>
                <select th:field="*{flowercolor}">
                    <option value="red">빨강</option>
                    <option value="orange">주황</option>
                    <option value="yellow">노랑</option>
                    <option value="green">초록</option>
                    <option value="blue">파랑</option>
                    <option value="navy">네이비</option>
                    <option value="purple">보라</option>
                    <option value="pink">핑크</option>
                    <option value="custom">꽃 색상과 맞춤</option>
                </select>
            </div>

            <div class="input-group">
                <label th:for="pricerange">크기 및 가격대</label>
                <select th:field="*{pricerange}">
                    <option value="소형, 1~2만원">소형, 1~2만원</option>
                    <option value="중형, 2~3만원">중형, 2~3만원</option>
                    <option value="대형, 4~5만원">대형, 4~5만원</option>
                    <option value="6만원 이상">6만원 이상</option>
                </select>
            </div>
            <div class="bouquet-samples">
                <figure class="bouquet-sample">
                    <img src="/front/images/bouquetsize/smallsize.jpg" alt="소형 꽃다발" />
                    <p>소형 꽃다발</p>
                </figure>
                <figure class="bouquet-sample">
                    <img src="/front/images/bouquetsize/mediumsize.jpg" alt="중형 꽃다발" />
                    <p>중형 꽃다발</p>
                </figure>
                <figure class="bouquet-sample">
                    <img src="/front/images/bouquetsize/largesize.jpg" alt="대형 꽃다발" />
                    <p>대형 꽃다발</p>
                </figure>
            </div>
            <div class="input-group">
                <label th:for="message">메세지 카드</label>
                <textarea id="message" th:field="*{message}" style="width: 300px; height: 150px;" placeholder="꽃다발과 함께 보낼 메세지 카드를 작성해주세요!"></textarea>
            </div>
            <div class="input-group button-container">
                <button class="btn2" type="submit" id="submitOrderForm">주문하기</button>
            </div>


        </form>
    </section>
    <!-- 주문서 작성 끝 -->
    <script src="/front/order/js/common.js"></script>
</main>
</html>