.draggable {
    cursor: move;
}

#basket {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; /* 원하는 너비로 조정하세요 */
    height: 200px; /* 원하는 높이로 조정하세요 */
    border: 2px solid #ccc;
}

#basket li {
    cursor: move;
}

.noFlex {
    display: block;  /* flex 대신 원하는 display 값으로 변경 */
}