@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
* {
    font-family: 'Gowun Dodum', sans-serif;
    box-sizing: border-box;
    color: #000; outline: none;
}

.draggable {
    cursor: move;
}

#basket {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; /* 원하는 너비로 조정하세요 */
    height: 200px; /* 원하는 높이로 조정하세요 */
    border: 2px solid #ccc;
}

#basket li {
    cursor: move;
}

.noFlex {
    display: block;  /* flex 대신 원하는 display 값으로 변경 */
}


/* 꽃 추천 영역 S */
/* 꽃 추천 영역 */
.container {
    width: 100%;

}

.recommendation-section {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
}

.flower-card {
    width: 350px; /* 카드 너비 조절 */
    height: 580px;
    background-color: #FEF7F6;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
}


.flower-card img {
    width: 80%; /* 이미지를 카드 크기에 맞춤 */
    height: 40%;
    display: block; /* 이미지 블록화 */
    margin: 5px auto;
    margin-bottom: 30px;
}

.flower-no{
    display: inline-block;
    padding: 1px 5px 1px 5px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #f4cbd2;
}

/* 꽃 정보 스타일링 */
.flower-card-info {
    padding: 10px 15px;
    background-color: #f9f9f9;
    border-top: 1px solid #e0e0e0;
}

.flower-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;  /* 수평 중앙 정렬 */
    justify-content: center;  /* 수직 중앙 정렬 */
}

.flower-card-info div {
    margin-bottom: 5px;
}

.flower-card-info strong {
    margin-right: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* 버튼 위 간격 추가 */
}

.button{
    padding: 15px 20px;
    margin: 0 20px; /* 버튼 좌우 간격 조절 */
    border: none;
    border-radius: 10px;
    background-color: #e6e6e6;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.button:hover {
    background-color: #d4d4d4;
}

/* 꽃 추천 영역 E */
