<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!--타임리프 보안 관련 오류나서 좀 더 공부하고 하기로 함
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    -->
    <!--페이지 타이틀 -->
    <title th:if="${pageTitle != null}" th:text="${pageTitle}"></title>
    <!--아이콘 적용-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!--css 적용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/front/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/front/css/user/style.css}">
    <link th:each="cssFile : ${addCss}" rel="stylesheet" type="text/css"
          th:href="@{/front/css/{file}.css(file=${cssFile})}">
    <th:block layout:fragment="addCss"></th:block>



    <!--자바 스크립트 적용-->
    <script th:src="@{/front/js/common.js}"></script>
    <script th:each="jsFile : ${addScript}" th:src="@{/front/js/{file}.js(file=${jsFile})}"></script>
    <th:block layout:fragment="addScript"></th:block>
</head>
<body th:class="${bodyClass}">
<!-- 헤더부분 -->
<header th:replace="~{front/outlines/header::common}"></header>

<!-- 메인부분 -->
<main layout:fragment="content"></main>

<!-- 푸터부분 -->
<footer th:replace="~{front/outlines/footer::common}"></footer>
<!--<iframe name="ifrmProcess" class="dn"></iframe>-->
</body>
</html>