<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/front/mypage/css/style.css}">
    <!-- 헤더 통일하기 위해 css 파일 하나 더 추가함 -->
    <link rel="stylesheet" type="text/css" th:href="@{/front/css/style.css}">
    <link th:each="cssFile : ${addCss}" rel="stylesheet" type="text/css"
          th:href="@{/front/css/{file}.css(file=${cssFile})}">
    <th:block layout:fragment="addCss"></th:block>
    <!-- ... -->
</head>
<body>
<!-- 헤더 부분 중 마이페이지로 들어갔을 때 마이페이지 대신 알람창이 뜰 수 있도록 하면 좋을 것 같음 -대윤- -->
<header th:replace="~{front/outlines/header::common}"></header>
<!-- <div class = "profile-and-status-container"> -->


<div class="profile-container">
    <img src="https://cdn.pixabay.com/photo/2014/04/02/10/25/man-303792_1280.png" alt="프로필 사진" class="profile-image">

    <div class="name" th:text="${userNickNm}">홍길동</div>
    <div class="rank">일반 회원</div>

    <div class="correction">
        <a th:href="@{/user/mypage/profile/profilePage}">
        </a>
    </div>

</div>

</body>
</html>