<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
    <main layout:fragment="content">
        <!-- 꽃 추천 리스트 들어가는 곳-->
        <!--<div th:each="flower : ${flowers}">
            <img th:src="@{${flower.flowerIamges}}" alt="꽃 이미지" />
        </div>-->

        <div class="container">
            <div class="header-image">
                <div class="overlay-text playfair-display">RESULT</div>
            </div>

            <h1 style="text-align: center"></h1>
            <div class="recommendation-section">
                <div class="flower-card" th:each="flower, stat : ${flowers}">
                    <div class="flower-no" th:text="'flower' + ${stat.index + 1}">flower</div>
                    <img th:src="@{${flower.flowerIamges}}">
                    <div class="flower-card-info">
                        <div><strong>* 꽃이름 :</strong> <span th:text="${flower.flowerNm}"></span></div>
                        <div><strong>* 꽃말 :</strong> <span th:text="${flower.flowerMean}"></span></div>
                        <div><strong>* 개화시기 :</strong> <span th:text="${flower.bloomseason}"></span></div>
                        <div><strong>* 계절 :</strong> <span th:text="${flower.season}"></span></div>
                    </div>
                </div>
            </div>
            <!-- 하단 버튼 영역 -->
            <div class="buttons">
                <a th:href="@{/}" class="button">메인화면</a>
                <a th:href="@{/recommend}" class="button">다시하기</a>
                <a th:href="@{/order}" class="button">주문하기</a>
            </div>
        </div>

    </main>
</html>
