/* 회원가입, 로그인 관련 css */
.form-modal {
    display: flex;
    align-items: stretch;
    background-color: #fff;
    padding: 20px;
    width: 750px;
    margin: 100px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /*background-image: url('https://i.ibb.co/C87SPzN/image.png');*/
}

.transition-element {
    transition: all 0.5s ease-in-out;
}

/* 공통 부분 수정 필요 */
.form-content form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* 공통 부분 수정하기 */
.form-content label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

/* 공통 부분 수정 필요 */
.form-content input {
    /*width: calc(100% - 20px);*/
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* 공통 부분 수정 필요*/
.form-content button {
    background-color: #ff87a2;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* 공통 부분 수정 필요 */
.form-content button:hover {
    background-color: #ff6591;
}
.login_Btn{margin-top: 20px;}

.form-image {
    padding: 20px;
    width: 350px;
    height: 400px;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-content form{
    width: auto;
}


.form-image img {
    width: 100%; /* 이미지를 부모 요소의 전체 너비로 설정합니다. */
    height: 100%; /* 이미지를 부모 요소의 전체 높이로 설정합니다. */
    object-fit: cover; /* 이미지의 비율을 유지하면서, 지정한 높이와 너비에 꽉 차게 만듭니다. */
}

.form-content, .form-image {
    flex: 1;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .form-modal {
        flex-direction: column;
    }
}

.body-background {
    background-color: rgba(255, 216, 216, 0.3); /* 투명한 ??색 배경 */
    margin: auto; /* 브라우저 기본 여백 제거 */
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    min-height: 100vh; /* 화면을 꽉 채우기 위해 뷰포트 높이를 최소로 설정 */
}

/* 회원가입, 로그인 에러 메세지 출력 */
.error { box-shadow: 2px 2px 4px #666; padding: 10px; border-radius: 5px; margin: 5px 0; color: red; font-size: 12px;  width: 85%;}

/* 각 문항 마다 준 간격 */
.rows{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
    /*width: calc(100% - 40px);*/
}
.tits{
    margin-bottom: 3px;
}

/* 회원가입 동의 부분 S */
.terms {
    display: flex;
    flex-direction: column;
    align-items: start; /* Aligns items to the start, you can use "center" to center them */
    position: relative;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center; /* Vertically centers the checkbox and label */
}

.terms input[type="checkbox"] {
    width: auto;
    margin-right: 8px; /* Adjust space between checkbox and label */
}

.terms label {
    margin: 0; /* Remove default margin */
}
/* 회원가입 동의 부분 E */

/* 닉네임 중복 부분 S */
.nickNmCheck{
    white-space: nowrap;  /* 줄바꿈 방지 */
    background-color: #ff87a2;
    color: #fff;
    padding: 8px 12px; /* 패딩을 추가하여 버튼이 클릭하기 좋은 크기가 되도록 합니다. */
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* transform 속성도 transition에 추가합니다. */
    font-size: 13px;
    text-align: center; /* 글자를 가운데 정렬합니다. */
    line-height: 1.5; /* 글자의 라인 높이를 조절합니다. */
    letter-spacing: 0.05em; /* 글자 간 간격을 조절합니다. */
}

.nickNmCheck:hover, .nickNmCheck:focus {
    background-color: #ff6591;
    transform: scale(1.05); /* 버튼을 약간 확대합니다. */
}

.nickNmCheck:active {
    background-color: #ff497b;
    transform: scale(0.95); /* 클릭 시 버튼을 약간 축소합니다. */
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
}
/* 닉네임 중복 부분 S */
