<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">

<section layout:fragment="content">
        <nav th:replace="~{admin/recommend/_submenu::menus}"></nav>

    <form method="post" th:action="@{/admin/recommend/flowerWeightList}">
        <div role="region" aria-label="data table" tabindex="0" class="primary">
            <table class="weights-table">
                <thead>
                <tr class="header-row">
                    <th class = "checkbox-col">
                        <input type="checkbox" id="selectAll" onclick="toggleCheckboxes()">
                    </th>
                    <th>번호</th>
                    <th>꽃</th>
                    <th>키워드</th>
                    <th>가중치</th>
                </tr>
                </thead>
                <tbody>
                <tr class="data-row" th:each="weightList, iterStat : ${weightsList}" th:object="${weightList}" >
                    <td class="checkbox-col">
                        <input type="checkbox" th:id="${'weightCheckbox' + id}" th:value="*{id}" name="selectedWeight">
                    </td>
                    <!-- 가중치 번호 -->
                    <td th:text="${iterStat.index + 1}" class="no-input"></td>
                    <!-- 꽃 이름 -->
                    <td th:text="*{flowerNm}" data-field="flowerNm"></td>
                    <!-- 키워드 이름 -->
                    <td th:text="*{keywordNm}" data-field="keywordNm"></td>
                    <!-- 가중치 -->
                    <td th:text="*{weight}" data-field="weight"></td>
                </tr>
                <!-- 나중에 보기 예쁘게 바꿀 예정 -->
                <!--<tr th:each="weightList, iterStat : ${flowersList}" th:object="${weightList}" class="table-rows">
                    <td th:text="${iterStat.index + 1}"></td>
                    <td th:text="*{flowerNm}"></td>
                    <td>
                        <button type="button" class="btn2" onclick="showWeightList(this)">상세보기</button>
                    </td>
                </tr>-->
                </tbody>
            </table>
        </div>
    </form>

    <div style="text-align: right; margin-top: 15px;">
        <button type="button" class="btn2" onclick="editWeight()">수정</button>
        <button type="button" class="btn2" onclick="deleteWeights()">삭제</button>
    </div>

</section>
</html>
