<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">

<section layout:fragment="content">
    <nav th:replace="~{admin/recommend/_submenu::menus}"></nav>

    <h2>꽃 가중치 리스트</h2>
    <table>
        <thead>
        <tr>
            <th>꽃 이름</th>
            <th>키워드 이름</th>
            <th>가중치</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mapping : ${mappings}">
            <td th:text="${mapping.flowerNm}"></td>
            <td th:text="${mapping.keywordNm}"></td>
            <td th:text="${mapping.weight}"></td>
        </tr>
        </tbody>
    </table>
</section>
</html>
