<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">

<section layout:fragment="content">
    <nav th:replace="~{admin/recommend/_submenu::menus}"></nav>

    <form>
        <div role="region" aria-label="data table" tabindex="0" class="primary">
            <table class="keywords-table">
                <thead>
                <tr class="header-row">
                    <th class="checkbox-col">
                        <input type="checkbox" id="selectAll" onclick="toggleCheckboxes()">
                    </th>
                    <th>번호</th>
                    <th>꽃 이름</th>
                    <th th:each="weight : ${weightsList}" th:text="${weight.keywordNm}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="weight, iterStat : ${weightsList}" th:object="${weight}" class="table-rows">
                    <!-- 체크 박스 -->
                    <td class="checkbox-col">
                        <input type="checkbox" th:value="*{id}" name="selectedid">
                    </td>
                    <td th:text="${iterStat.index + 1}"></td>
                    <td th:text="*{flowerNm}"></td>
                    <td th:each="weight : ${weightsList}" th:text="*{weight}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>

</section>
</html>
