<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <nav th:replace="~{admin/recommend/_submenu::menus}"></nav>
    <!-- 키워드 부분 -->
    <form method="post" th:action="@{/admin/recommend/keyword}">
        <div role="region" aria-label="data table" tabindex="0" class="primary">
            <table class="keywords-table">
                <thead>
                <tr class="header-row">
                    <th class = "checkbox-col">
                        <input type="checkbox" id="selectAll" onclick="toggleCheckboxes()">
                    </th>
                    <th>키워드번호</th>
                    <th>키워드명</th>
                </tr>
                </thead>
                <tbody>
                <tr class="data-row" th:each="keyword, iterStat : ${keywordsList}" th:object="${keyword}">
                    <!-- 체크 박스 -->
                    <td class="checkbox-col">
                        <input type="checkbox" th:value="${iterStat.index}">
                    </td>
                    <!-- 키워드 번호 -->
                    <td th:text="${iterStat.index + 1}"></td>
                    <!-- 키워드 이름 -->
                    <td th:text="*{keywordNm}"></td>
                </tr>
                </tbody>
            </table>
            <!-- 키워드 입력 폼 -->
            <div id="keywordAddForm" style="display: none;">
                <!-- action 태그의 경로와 PostMapping 경로가 다름에도 불구하고 데이터가 잘 들어가는 이유를 모르겠음.. -->
                <form method="post" th:action="@{/admin/recommend/addKeyword}">
                    <input type="text" name="keywordNm" placeholder="새 키워드" required>
                    <button type="submit" class="btn">저장</button>
                </form>
            </div>
            <!-- 추가, 수정, 삭제 버튼 -->
            <div style="text-align: right; margin-top: 15px;">
                <button type="button" class="btn" onclick="showAddKeywordForm()">추가</button>
                <button type="button" class="btn" onclick="editKeyword()">수정</button>
                <button type="button" class="btn" onclick="deleteKeywords()">삭제</button>
            </div>
        </div>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    </form>
</section>
</html>