
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/front/mypage/css/style.css}"> <!-- 마이페이지 css -->
    <link rel="stylesheet" type="text/css" th:href="@{/front/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/front/recommend/css/style.css}"><!-- 헤더 통일 css -->
    <link th:each="cssFile : ${addCss}" rel="stylesheet" type="text/css"
          th:href="@{/front/css/{file}.css(file=${cssFile})}">
    <!--<th:block layout:fragment="addCss"></th:block> -->
</head>
<body>
<header th:replace="~{front/outlines/header::common}"></header>
<div class="header-image">
    <div class="overlay-text playfair-display">MYPAGE</div>
</div>
<!-- 중복 부분 replace 태그 처리 -->
<div th:replace="~{/front/mypage/layouts/duplication :: duplicated-shipping}"></div>

<div>
    <ul class = "sidebar">
        <li><a class="active" th:href="@{/user/mypage/main/home/orderlist}">주문 내역</a></li>
        <!--<li><a th:href="@{/user/mypage/main/main_review}">상품 후기</a></li>
        <li><a th:href="@{/user/mypage/main/main_inquire}">상품 문의</a></li> -->
    </ul>

    <div class="content">
        <a href="/user/mypage/main/home/orderlist">
            <button class="button_order">주문 내역 확인하기</button>
        </a>
    </div>
</div>


</body>
</html>