
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/front/mypage/css/style.css}">  <!-- 마이페이지 css -->
  <link rel="stylesheet" type="text/css" th:href="@{/front/css/style.css}">  <!-- 헤더 통일 css -->
    <link rel="stylesheet" type="text/css" th:href="@{/front/recommend/css/style.css}">
  <link th:each="cssFile : ${addCss}" rel="stylesheet" type="text/css"
        th:href="@{/front/css/{file}.css(file=${cssFile})}">
  <th:block layout:fragment="addCss"></th:block>
</head>
<body>
<header th:replace="~{front/outlines/header::common}"></header>
<div class="header-image">
    <div class="overlay-text playfair-display">MYPAGE</div>
</div>
<!-- 중복 부분 replace 태그 처리 -->
<div th:replace="~{/front/mypage/layouts/duplication :: duplicated-shipping}"></div>


  <div>
    <ul class = "sidebar">
      <li><a class="active" th:href="@{/user/mypage/main/home/orderlist}">주문 내역</a></li>
      <!--<li><a th:href="@{/user/mypage/main/main_review}">상품 후기</a></li>
      <li><a th:href="@{/user/mypage/main/main_inquire}">상품 문의</a></li> -->
    </ul>
  </div>

      <div class="content">
          <div class="order-history">
              <table class="order-table">
                  <thead>
                  <tr>
                      <th>주문번호</th>
                      <th>주문일자</th>
                      <!--<th>닉네임</th>-->
                      <th>픽업날짜</th>
                      <th>픽업시간</th>
                      <th>꽃 종류</th>
                      <th>꽃다발 색상</th>
                      <th>가격대</th>
                      <th>메시지</th>
                      <th>주문 상태</th>
                  </tr>
                  </thead>
                  <tbody>
                  <!-- 주문 데이터 반복 -->
                  <tr th:each="order : ${userOrders}"> <!-- 여기서 변수명을 단수에서 복수로 변경했습니다. -->
                      <td th:text="${order.orderNo}">주문번호</td>
                      <td th:text="${#strings.substring(order.createdAt, 0, 10)}">주문일자</td>
                     <!--<td th:text="*{userNickNm}">닉네임</td>-->
                      <td th:text="${order.pickupDate}">픽업날짜</td>
                      <td th:text="${order.pickupTime}">픽업시간</td>
                      <td th:text="${order.flowertype}">꽃 종류</td>
                      <td th:text="${order.flowercolor}">꽃다발 색상</td>
                      <td th:text="${order.pricerange}">가격대</td>
                      <td th:text="${order.message}">메시지</td>
                      <td th:text="${order.orderStatus.name() == 'ACCEPTING' ? '확인 대기' : (order.orderStatus.name() == 'ACCEPTED' ? '확인 완료' : '주문 상태')}">주문 상태</td>
                   </tr>
                   </tbody>
               </table>
           </div>
       </div>

      </div>

 </body>

 </html>