<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/front/mypage/css/style.css}"><!-- 마이페이지 css -->
    <link rel="stylesheet" type="text/css" th:href="@{/front/css/style.css}"><!-- 헤더 통일 css -->
    <link rel="stylesheet" type="text/css" th:href="@{/front/recommend/css/style.css}">
    <link th:each="cssFile : ${addCss}" rel="stylesheet" type="text/css"
          th:href="@{/front/css/{file}.css(file=${cssFile})}">
    <th:block layout:fragment="addCss"></th:block>
</head>
<body>
<header th:replace="~{front/outlines/header::common}"></header>
<div class="header-image">
    <div class="overlay-text playfair-display">MYPAGE</div>
</div>

<div id="passwordConfirm">


<form id="passForm" action="/user/mypage/profile/password-confirm" method="POST">
    <label for="password">비밀번호 확인</label>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="password" id="password" name="password" required>
    <button id="passFormButton" type="submit">확인</button>
</form>

</div>
<script th:if="${error != null}">
    alert('[[${error}]]');
</script>



</body>
</html>