<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="mypage/css/style.css" th:href="@{mypage/css/style.css}">
    <title>Layout</title>
</head>
<body>
<ul class="navbar">
    <li><a href="#" th:href="@{/}" class="active">Home</a></li>
    <li><a href="#" th:href="@{/page1}">Page 1</a></li>
    <li><a href="#" th:href="@{/page2}">Page 2</a></li>
    <li><a href="#" th:href="@{/page3}">Page 3</a></li>
</ul>
<div class="content" th:fragment="content">
    <div th:insert="this :: target"/>
</div>
</body>
</html>
