
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <section class="half" id="left">
        <div class="overlay-text">RECOMMENDATION</div>
        <img src="https://i.ibb.co/b1j4G1j/image.png" alt="Recommendation Image">
    </section>
    <section class="half" id="right">
        <div class="quarter">
            <div class="overlay-text">ORDER</div>
            <img src="https://i.ibb.co/C87SPzN/image.png" alt="Order Image">
        </div>
        <div class="quarter">
            <div class="overlay-text">COMMUNITY</div>
            <img src="https://i.ibb.co/wCTrMgv/image.png" alt="Community Image">
        </div>
    </section>
</main>
</html>

