
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <section class="half" id="left">
        <a th:href="@{/recommend}">
            <div class="overlay-text playfair-display">RECOMMENDATION</div>
            <div class="image" style="background-image: url('https://i.ibb.co/b1j4G1j/image.png');"></div>
        </a>
    </section>
    <section class="half" id="right">
        <a th:href="@{/order}">
            <div class="quarter">
                <div class="overlay-text playfair-display">ORDER</div>
                <div class="image" style="background-image: url('https://i.ibb.co/C87SPzN/image.png');"></div>
            </div>
        </a>
        <a th:href="@{/community}">
            <div class="quarter">
                <div class="overlay-text playfair-display">COMMUNITY</div>
                <div class="image" style="background-image: url('https://i.ibb.co/wCTrMgv/image.png');"></div>
            </div>
        </a>
    </section>
</main>
</html>

