#dropZone {
    display: flex; /* flex 컨테이너 설정 */
    align-items: center; /* 수직 가운데 정렬 */
}

#flowerImage {
    max-width: 100px; /* 이미지 크기 조절 */
    margin-left: 20px; /* 편지 봉투와의 간격 조절 */
}

.postCard-parent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header-image {
    width: 100%;
    height: 100px;
    background-image: url('https://i.ibb.co/C87SPzN/image.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 40px;
}
/* 헤더 이미지에 반투명 오버레이 효과를 추가합니다. */
.header-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.overlay-text {
    font-size: 2em;
    position: absolute;
    top: 25%; /* 상단에서 25% 떨어진 위치에 배치 */
    left: 50%; /* 왼쪽에서 50% 떨어진 위치에 배치 */
    transform: translate(-50%, -50%); /* X축과 Y축을 기준으로 50% 이동하여 정중앙에 오도록 함 */
}
.subtext {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 1.2em; /* 새로운 문구의 크기 조정 */
    color: #fff; /* 텍스트 색상을 흰색으로 설정 */
    text-align: center; /* 중앙 정렬 */
    position: absolute; /* 절대 위치 지정 */
    width: 100%; /* 부모 컨테이너의 전체 너비 */
    top: 75%; /* 상단에서 50% 떨어진 위치에 배치 */
    left: 50%; /* 왼쪽에서 0% 떨어진 위치에 배치 */
    transform: translate(-50%, -50%); /* Y축을 기준으로 50% 이동하여 정중앙에 오도록 함 */
}

.background-color{
    background-color: #FFF4F4;
    padding: 10px;
}
.card-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 600px;
}
.margin-top-50px{
    margin-top: 50px;
}
.margin-top-30px{margin-top: 30px;}

.centered-img {
    max-width: 100%;
    max-height: 100%;
}

/* 엽서 만들기 로딩창 css S */
.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    align-items: center;
    justify-content: center;
}
.circle{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: screen;
}
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loading-text {
    color: white; /* 텍스트 색상 */
    margin-top: 100px; /* 원형 로딩 애니메이션과의 간격 */
    font-size: 30px; /* 텍스트 크기 */
    text-align: center; /* 가운데 정렬 */
}

.watch__face{
    animation: spring 3s cubic-bezier(0.5, 0, 0.5, 1) alternate infinite;
    width: 125px;
    height: 125px;
}
.circle:nth-child(odd){
    background-color: pink;
}
.circle:nth-child(even){
    background-color: lightpink;
}
.circle:nth-child(1){
    animation: circle1 3s ease alternate infinite
}
.circle:nth-child(2){
    animation: circle2 3s ease alternate infinite
}
.circle:nth-child(3){
    animation: circle3 3s ease alternate infinite
}
.circle:nth-child(4){
    animation: circle4 3s ease alternate infinite
}
.circle:nth-child(5){
    animation: circle5 3s ease alternate infinite
}
.circle:nth-child(6){
    animation: circle6 3s ease alternate infinite
}
@keyframes spring {
    0%{
        transform: scale(0.15) rotate(180deg);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes circle1 {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-35px, -50px);
    }
}
@keyframes circle2{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(35px, 50px);
    }
}
@keyframes circle3 {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-60px, 0px);
    }
}
@keyframes circle4 {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(60px, 0px);
    }
}
@keyframes circle5 {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-35px, 50px);
    }
}
@keyframes circle6{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(35px, -50px);
    }
}

/* 엽서 만들기 로딩창 css E */