@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
    outline: none;
}

/* 기본 배경 색상과 그림자 효과를 설정합니다. */
.order-form, .order-confirmation-card {
    font-family: 'Gowun Dodum', sans-serif;
    background-color: #FEF7F6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    line-height: 1.6;
    max-width: 600px;
    padding: 20px;  /* 테두리 둥글게 */
    margin : auto;
}

.order-confirmation-card h1,
.order-confirmation-card p {
    font-family: 'Gowun Dodum', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.highlight-text {
    font-family: 'Gowun Dodum', sans-serif;
    width: 100%; /* 이 값을 조정하여 가로 크기를 조절할 수 있습니다. */
    margin: 0 auto; /* 위 아래 마진은 0, 좌우 마진은 auto로 설정하여 중앙 정렬합니다. */
    text-align: center; /* 텍스트를 중앙 정렬합니다. */
    color: #333;
}

.highlight-text h1,
.highlight-text p {
    margin-bottom: 10px; /* 요소 간의 마진을 조절합니다. */
}


/* 강조 텍스트를 포함하여 모든 div 태그 내부의 텍스트도 가운데 정렬합니다. */
.order-form div {
    text-align: center;
}

/* 헤더 이미지의 스타일을 설정합니다. */
.header-image {
    width: 100%;
    height: 80px;
    background-image: url('https://i.ibb.co/C87SPzN/image.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 40px;
}

/* 헤더 이미지에 반투명 오버레이 효과를 추가합니다. */
.header-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* 메인 컨테이너를 수직으로 정렬합니다. */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 입력 그룹의 레이아웃을 설정합니다. */
.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

/* 라벨 요소의 너비를 설정하고 입력 요소와의 간격을 설정합니다. */
.input-group label {
    flex-basis: 20%;
    margin-right: 5%;
}

/* 텍스트, 전화번호, 날짜, 시간 입력 요소 및 선택 요소, 텍스트 영역의 스타일을 설정합니다. */
.input-group input[type="text"],
.input-group input[type="tel"],
.input-group input[type="date"],
.input-group input[type="time"],
.input-group select,
.input-group textarea {
    flex-grow: 1;
    padding: 3px;
    font-family: 'Gowun Dodum', sans-serif;

}

/* 버튼 컨테이너를 가운데 정렬하기 위한 스타일을 설정합니다. */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* 버튼의 기본 스타일을 설정하고 호버 효과를 추가합니다. */
.btn2 {
    font-family: 'Gowun Dodum', sans-serif;
    background-color: #e5e5e5;
    padding: 1% 4%;
    margin: 0 10px;
    border: 1px solid #e5e5e5;;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    display: inline-block;
    /*
    margin-top: 10px;
    */
}

.btn2:hover {
    background-color: #a4a4a4; /* 호버 시 색상 변경 */
    transform: scale(1.05);
}

/* 꽃다발 예시 사진의 레이아웃을 설정합니다. */
.bouquet-samples {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

/* 각 꽃다발 예시 사진에 스타일을 적용합니다. */
.bouquet-sample {
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

/* 각 꽃다발 예시 사진의 이미지 스타일을 설정합니다. */
.bouquet-sample img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* 텍스트 영역을 다른 입력 요소와 동일한 너비로 설정하고 수직 리사이징만 허용합니다. */
.input-group textarea {
    width: 100%;
    height: 30%;
    resize: vertical;
}

/* 전체 페이지에 대한 기본 스타일링 */
.body {
    font-family: 'Gowun Dodum', sans-serif;
    box-sizing: border-box;
    color: #000; outline: none;
    background-color: #faf3e0;
    line-height: 1.6;
    padding: 20px;
}


/* 강조 텍스트 스타일링 */
.highlight-text {
    background-color: white;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0;
}

/* 고유번호를 표시하는 부분 */
.confirmation-number {
    font-size: 24px;
    color: #d35400;
    font-weight: bold;
    margin: 5px 0;
}

/* 추가 스타일링이 필요한 텍스트 */
.small-text {
    font-size: 0.8em;
    color: #777;
}
