<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<body>
<main layout:fragment="content">

    <div>
        <!-- 나중에 표시되는 건 한글 이름으로 바꿔야됨 -->
        <h3>꽃</h3>
        <ul id="flowerList">
            <!-- flowers 리스트에서 각 flower의 englishNm을 표시 -->
            <li th:each="flower : ${flowers}"
                th:text="${flower.flowerNm}"
                th:data-englishnm="${flower.englishNm}"
                draggable="true"
                ondragstart="dragFlower(event)">
            </li>
        </ul>
    </div>

    <div id="dropZone" ondrop="dropFlower(event)" ondragover="allowDropFlower(event)">
        <img id="dropZoneImage" src="/front/images/closedEnvelope.png" alt="편지 봉투">
        <table id="droppedFlowersTable">
            <thead>
            <tr>
                <th>선택한 꽃</th>
            </tr>
            </thead>
            <tbody id="droppedFlowersBody">
            <!-- 여기에 드롭된 항목이 표시됩니다 -->
            </tbody>
        </table>
    </div>




    <form th:action="@{/postCard/create-image}" method="post">
        <input type="hidden" id="prompt" name="prompt" />
        <button type="submit">엽서 그리기</button>
    </form>
</main>

</body>
</html>
