<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<body>
<main layout:fragment="content" class="main-container">

    <div class="header-image">
        <div class="overlay-text playfair-display">POSTCARD</div>
    </div>
    <div class="interaction-area">
        <div class="pink-background">
            <ul id="flowerList">
                <!-- flowers 리스트에서 각 flower의 englishNm을 표시 -->
                <li th:each="flower : ${flowers}"
                    th:text="${flower.flowerNm}"
                    th:data-englishnm="${flower.englishNm}"
                    draggable="true"
                    ondragstart="dragFlower(event)">
                </li>
            </ul>
        </div>

    </div>

    <div id="dropZone" ondrop="dropFlower(event)" ondragover="allowDropFlower(event)">
        <img id="dropZoneImage" src="/front/images/closedEnvelope.png" alt="편지 봉투">
        <table id="droppedFlowersTable">
            <thead>
            <tr>
                <th>선택한 꽃</th>
            </tr>
            </thead>
            <tbody id="droppedFlowersBody">
            <!-- 여기에 드롭된 항목이 표시 -->
            </tbody>
        </table>
    </div>

    <form th:action="@{/postCard/create-image}" method="post">
        <input type="hidden" id="prompt" name="prompt" />
        <button type="submit">엽서 그리기</button>
    </form>
</main>

</body>
</html>
