.form-modal {
    display: flex;
    align-items: stretch;
    background-color: #fff;
    padding: 20px;
    width: 700px;
    margin: 100px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /*background-image: url('https://i.ibb.co/C87SPzN/image.png');*/
}

.transition-element {
    transition: all 0.5s ease-in-out;
}

form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #ff87a2;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff6591;
}

.form-image {
    padding: 20px;
    width: 350px;
    height: 400px;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-image img {
    width: 100%; /* 이미지를 부모 요소의 전체 너비로 설정합니다. */
    height: 100%; /* 이미지를 부모 요소의 전체 높이로 설정합니다. */
    object-fit: cover; /* 이미지의 비율을 유지하면서, 지정한 높이와 너비에 꽉 차게 만듭니다. */
}

.form-content, .form-image {
    flex: 1;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .form-modal {
        flex-direction: column;
    }
}

.body-gray-background {
    background-color: rgba(255, 216, 216, 0.3); /* 투명한 ??색 배경 */
    margin: auto; /* 브라우저 기본 여백 제거 */
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    min-height: 100vh; /* 화면을 꽉 채우기 위해 뷰포트 높이를 최소로 설정 */
}
