<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="common" >

    <div class="layout_width inner">
        <div class="top">
            <a th:href="@{/terms/private}">개인정보처리방침</a>&nbsp;&nbsp;|&nbsp;
            <a th:href="@{/terms/guide}">이용약관</a>
        </div>
        <div class="middle">
            (주)도화다 | 대표자: 홍길동 | 사업자번호: 010-9898-1212 사업자 정보 확인<br>
            통신판매업: 2023-인천송도B-0062 | 개인정보보호책임자: 이도경 | 이메일: dowhada@naver.com<br>
            주소: 인천대학교
        </div>
        <div class="bottom">©flowers. ALL RIGHTS RESERVED</div>
    </div>
</footer>
</html>
