<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="common">
    <nav class="@">
        <section class="right">
            <div class="buttons">
                <th:block sec:authorize="isAuthenticated()">
                    <a th:href="@{/user/logout}" th:text="#{user.logout}" class="btn1">로그아웃</a>
                    <a th:href="@{/user/mypage}" th:text="#{mypage}" class="btn1 red">마이페이지</a>
                </th:block>
                <th:block sec:authorize="isAnonymous()">
                    <a th:href="@{/user/login}" th:text="#{user.login}" class="btn1">로그인</a>
                    <a th:href="@{/user/join}" th:text="#{user.join}" class="btn1 red">회원가입</a>
                </th:block>
            </div>
        </section>
    </nav>
</header>
</html>