<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="common">
    <nav class="@">
        <section class="left">
            <!-- 왼쪽 상단 로고 누르면 홈페이지로 -->
            <a th:href="@{/}" class="bold-text size-24"> <!-- Add Link to Home -->
                <!--img 파일을 넣어두면 됨-->
                DOHWADA
            </a>
        </section>
        <section class="right">
            <div class="buttons">
                <th:block sec:authorize="isAuthenticated()">
                    <a th:href="@{/user/logout}" th:text="#{user.logout}" class="btn1 bold-text">logout</a>
                    <a th:href="@{/user/mypage}" th:text="#{mypage}" class="btn1 red bold-text">mypage</a>
                </th:block>
                <th:block sec:authorize="isAnonymous()">
                    <a th:href="@{/user/login}" th:text="#{user.login}" class="btn1 bold-text">login</a>
                    <a th:href="@{/user/join}" th:text="#{user.join}" class="btn1 red bold-text">join</a>
                </th:block>
            </div>
        </section>
    </nav>
</header>
</html>